<h3>Need to edit an opportunity below:</h3>

<%= form_tag posts_url, method: 'patch' do %>

<%= label_tag "company", "Company:" %>
<%= text_field_tag "company", @post.company %>
<br>
<%= label_tag "task_name", "Name of Task:" %>
<%= text_field_tag "task_name", @post.task_name %>
<br>
<%= label_tag "description", "Description:" %>
<%= text_field_tag "description", @post.description %>
<br>
<%= label_tag "exact_location", "Physical Address:" %>
<%= text_field_tag "exact_location", @post.exact_location %>
<br>
<%= label_tag "tools", "Tools Needed:" %>
<%= text_field_tag "tools", @post.tools %>
<br>
<%= label_tag "time", "Time:" %>
<%= text_field_tag "time", @post.time %>
<br>
<%= label_tag "date", "Date:" %>
<%= text_field_tag "date", @post.date %>
<br>
<%= submit_tag "Submit", class: "btn btn-primary"%>

<% end %>

<br><br>

<%= link_to "Go Back to Homepage", posts_url %>


