<style>
img {width: 100px;}
body {
  width: 250px;
  text-align: center;}

div {padding-bottom: 10px}

</style>

<div class="container"

<body>
  <h4><%= @post.task_name %></h4>

  <p>
    <%= @post.company %> <br>
    <img src="http://tapchicago.org/wp-content/uploads/2012/08/lakeviewpantry-logo-1.jpg"><br>
    <%= @post.description %> <br>
    <b>Time:</b> <%= @post.time %> AM <br>
    <b>Location:</b> <%= @post.location %> miles away <br>
    <b>Tools Needed: </b><%= @post.tools %> <br>
    <b>Address:</b> <%= @post.exact_location %> <br>

  </p>

<div>
<%= submit_tag "Sign Up!", class: "btn btn-primary"  %>
<%= link_to "Go Back to Homepage", posts_url,  class: "btn btn-primary" %>
</div>

</body>

</div>
